NODE_ENV=development
PORT=3001
API_PREFIX=api/v1

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/portfolio?schema=public"

JWT_ACCESS_SECRET="5891996daf8d307a3dc1200f3011fbc0f9c4d7a8b2e1c5d6a7f8e9b0c1d2e3f4"
JWT_REFRESH_SECRET="your-long-random-secret-2"
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

CORS_ORIGIN=http://localhost:3000

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

SENTRY_DSN=""
